.hidden {
	display: none
}
.visible {
	display: block
}
.center-text {
	text-align: center;
	color: white;
}
form.contact {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.ng-valid[required] {
	border-left: 5px solid #42A948; /* green */
  } 
  .isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
  float: left;
   
  }
  .isa_info {
	  color: #00529B;
	  background-color: #BDE5F8;
  }
  .isa_success {
	  color: #4F8A10;
	  background-color: #DFF2BF;
  }
  .isa_warning {
	  color: #9F6000;
	  background-color: #FEEFB3;
  }
  .isa_error {
	  color: #B02406;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
	  margin:10px 22px;
	  font-size:2em;
	  vertical-align:middle;
  }